<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<test thread-count="5" name="chromeTest">
		<classes>
			<parameter name="browser" value="chrome" />
			<class name="testng_hackathon.LoanCalculator" />
		</classes>
		 </test>
	<!-- <test thread-count="5" name="edgeTest">
		<classes>
			<parameter name="browser" value="edge" />
			<class name="testng_hackathon.LoanCalculator" />

		</classes>-->
	</test>
	
</suite> 
